@font-face {
font-family: "Sunflower";
src: url("Sunflower.otf");
}

html, body {
 margin: 0;
 padding: 0;
}
body {
 background-color: white;
 font-family: cursive;
 font-size: 80%;
}
h1 {
 font-family: 'Sunflower';
 margin-top: 0px;
 font-size: 200%;
 color: #e6dfdf;
 padding-left: 20px;
}
h2 {
 font-size: 150%;
 color: red;
 padding-left: 15px;
 text-align: center;
}
hr {
  border-top: 15px solid black;
  border-radius: 1000px 1000px 1000px 1000px;
}

.header {
	background-color: grey;
}
