@font-face {
font-family: "Sunflower";
src: url("Sunflower.otf");
}

@font-face {
font-family: "Roboto";
src: url("Roboto.ttf");
}

html, body {
 margin: 0;
 padding: 0;
}

body {
 font-family: 'Roboto', serif;
 font-size: 90%;
 color: white;
 background-image: url('bg.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

h1 {
 margin-top: 0;
 margin-bottom: 0;
 font-size: 200%;
 color: #e6dfdf;
}

h2 {
 font-family: 'Roboto', serif;
 font-size: 170%;
 color: white;
 padding-left: 15px;
 text-align: center;
}

hr {
  border-top: 15px solid black;
  border-radius: 1000px 1000px 1000px 1000px;
}

a {
	color : white;
}

a:hover {
   color : aqua;
}

a:visited {
    color : dimgrey;
}

a:visited:hover{
    color : aqua;
}

.header {
    font-family: 'Sunflower', serif;
 	padding-top : 5px;
 	padding-bottom : 5px;
	background-color: #ab7933;
	text-align: left;
}

.header h1 {
 padding-left: 20px;
 padding-top: 10px;
 display: inline-block;	
}

.header span {
	float : right;
	padding-top: 15px;
	padding-right: 20px;	
}

.content p {
	padding-left: 2%;
}

.connect {
    margin: 5%;
    border: 2px solid #222b38;
    padding: 5%;
    background-color: #ab7933;
}

#mywishlist{
    text-decoration: none;
}

#mywishlist:visited{
    text-decoration: none;
    color: #e6dfdf;
}

#conn {
	text-decoration: none;
	color: #e6dfdf;
}

#conn:visited{
	text-decoration: none;
}