@font-face {
font-family: "Sunflower";
src: url("Sunflower.otf");
}

html, body {
 margin: 0;
 padding: 0;
}

body {
 background-color: #343a45;
 font-family: cursive;
 font-size: 80%;
 color: white;
}

h1 {
 font-family: 'Sunflower';
 margin-top: 0px;
 font-size: 200%;
 color: #e6dfdf;
 padding-left: 20px;
 padding-top: 10px;
}

h2 {
 font-family: 'Sunflower';
 font-size: 150%;
 color: white;
 padding-left: 15px;
 text-align: center;
}

hr {
  border-top: 15px solid black;
  border-radius: 1000px 1000px 1000px 1000px;
}

.header {
	background-color: #151b24;
	padding-bottom: 10px;
}

.content {
	background-color: #343a45;
}
